# blockchain ignores
substrate-contract-node/**/target/
substrate-contracts-node/**/*.rs.bk
substrate-contracts-node/*.swp
substrate-contract-node/.wasm-binaries
substrate-contract-node/.vscode
substrate-contract-node/.DS_Store
substrate-contract-node/.idea/
substrate-contract-node/rls*.log
substrate-contract-node/runtime/Cargo.lock

# client ignores
substrate-contract-client/node_modules/
substrate-contract-client/logs
substrate-contract-client/.idea
substrate-contract-client/*.log
substrate-contract-client/npm-debug.log*
substrate-contract-client/yarn-debug.log*
substrate-contract-client/yarn-error.log*
substrate-contract-client/.env
substrate-contract-client/dist/
substrate-contract-client/build/
substrate-contract-client/tmp/
substrate-contract-client/.idea/
substrate-contract-client/.vscode/
substrate-contract-client/*.sublime-project
substrate-contract-client/*.sublime-workspace
substrate-contract-client/.DS_Store
substrate-contract-client/Thumbs.db
